{% extends 'base.html' %}
{% load static %}


{% block content_1 %}
    <img src="{% static 'img/caps/psd_cap_mockup.png' %}" />
{% endblock content_1 %}

{% block content_2 %}
<form action="{% url 'login' %}" method="POST" id="contact-form">
    {% csrf_token %}

    <div class="tm-form-group">
        <!--<input type="select" name="email" class="tm-form-control" placeholder="Email" required="" />-->
        How many are you buying? &nbsp;
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
    </div>
    <!--<div class="tm-form-group">
        <input type="password" name="password" class="tm-form-control" placeholder="Password" required="" />
    </div>-->

    <div>
        <button type="submit" class="tm-btn-primary tm-align-center">
            Buy
        </button>
    </div>


</form>

    

{% endblock content_2 %}