{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S.J Clothing</title>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="{% static 'css/tooplate-wave-cafe.css' %}">
    <!--
    Tooplate 2121 Wave Cafe
    https://www.tooplate.com/view/2121-wave-cafe
    -->
</head>
<body>
    
    <div class="tm-container2">
        <div class="tm-center">
            <div class="tm-black-bg tm-contact-form-container tm-align-right" style="text-align:center;">
                <h2 class="tm-text-primary">Login Below</h2>

            </div>

            <div id="contact" class="tm-page-content">

                <div class="tm-black-bg tm-contact-form-container tm-align-right">
                    <form action="{% url 'login' %}" method="POST" id="contact-form">
                        {% csrf_token %}

                        <div class="tm-form-group">
                            <input type="email" name="email" class="tm-form-control" placeholder="Email" required="" />
                        </div>
                        <div class="tm-form-group">
                            <input type="password" name="password" class="tm-form-control" placeholder="Password" required="" />
                        </div>

                        <div>
                            <button type="submit" class="tm-btn-primary tm-align-right">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="tm-site-footer2">
            <p class="tm-black-bg tm-footer-text">
                Copyright 2020 S.J Clothing
                | Contact Developer: <a href="https://www.linkedin.com/in/uram-mnisi-software-developer/" class="tm-footer-link" rel="sponsored" target="_parent">Click here</a>
            </p>
        </footer>
    </div>

    <!-- Background video -->
    <div class="tm-video-wrapper">
        <i id="tm-video-control-button" class="fas fa-pause"></i>
        <video autoplay muted loop id="tm-video">
            <source src="{% static 'video/skating.mp4' %}" type="video/mp4">
        </video>
    </div>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

</body>
</html>